

  .line{
	  height:1px;
	  background-color:#0CF;
	  margin-top:20px;
	  }
	  
	  	  
  .checkCourse{
	 height:40px;
	  }	  
	  
	  
	  .fright{
		  position:absolute;
		  right:113px;
		  top:1px;
		  }

