.container ul li{
			  margin-bottom:10px;
			  list-style-type:none;

			  }
			 
			 
	body{
		width: 800px;
		height: 550px;
		background-image:url("../img/login.jpg");
		background-size: cover;
		}		 
			  